@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

label,
th,
button {
    font-weight: var(--font-weight-semibold);
}

input,
select,
textarea,
p,
td,
li,
span,
a {
    font-weight: var(--font-weight-regular);
}

strong,
b {
    font-weight: var(--font-weight-bold);
}

.back {
    background-color: #f0f0f0;
    padding: 20px;
}
